<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<notifications newPostNotificationTemplateId="603a9281-ea4a-6553-b191-ff0000466815" newThreadNotificationTemplateId="613a9281-ea4a-6553-b191-ff0000466815" />
</forumsConfig>