<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<profiles>
		<add defaultSenderEmailAddress="tijuraj123@gmail.com" host="smtp.gmail.com" port="465" useAuthentication="True" username="tijuraj123@gmail.com" password="EyesWideOpen" useSSL="True" profileName="Default" config:flags="1" />
		<add defaultSenderEmailAddress="no-reply@test.com" host="testsmtp01.telerik.com" port="25" useAuthentication="False" useSSL="False" batchSize="100" batchPauseInterval="0" profileType="smtp" profileName="FormSubmitEmail" type:this="Telerik.Sitefinity.Services.Notifications.Configuration.SmtpSenderProfileElement, Telerik.Sitefinity.Services.Notifications.Impl" />
	</profiles>
</notificationsConfig>