<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" projectName="FCEmailNotification " dateCreated="2016-07-22 10:42:45Z">
	<defaultSite id="0b76f166-3b26-432b-be63-2ebc56b04a91" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>